body {
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(225, 100%, 94%);
}
.card {
  width: 450px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.card h1 {
  color: hsl(223, 47%, 23%);
}
.card .photo img {
  width: 450px;
  border-radius: 10px 10px 0 0;
}
.card p {
  color: hsl(224, 23%, 55%);
  text-align: center;
  padding: 0 60px;
  font-size: 16px;
  line-height: 1.8em;
  margin-top: 0;
}
.card .payment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  background: hsl(225, 100%, 98%);
  border-radius: 10px;
  padding: 20px;
}
.card .payment img {
  width: 50px;
}
.card .payment .text {
  font-size: 0.9em;
  color: hsl(224, 23%, 55%);
  margin: 0 90px 0 20px;
}
.card .payment .text span {
  color: hsl(223, 47%, 23%);
  font-weight: bold;
}
.card .payment a {
  color: hsl(245, 75%, 52%);
  font-size: 0.7em;
  font-weight: bold;
}
.card button {
  border: 0;
  padding: 15px 115px;
  margin: 20px 0;
  border-radius: 7px;
  font-weight: bold;
}
.card .done {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background-color: hsl(245, 75%, 52%);
  color: #fff;
}
.card .cancel {
  background-color: transparent;
  color: hsl(224, 23%, 55%);
  margin-top: 0;
  padding-bottom: 0;
}
.attribution {
  margin-top: 10px;
}
